<div class="row m-0">
    <div class="col-12 col-md-6 mx-auto  my-3 p-4">
        <section class="m-0 m-md-4 p-2 p-md-4 border bg-light rounded shadow">
            <div class="text-center mb-3">
                <h2 class="text-uppercase text-decoration-underline m-0">Trabajo Práctico N°4</h2>
                <h4 class="text-capitalize mt-2 mb-4">WEB Services</h4>
            </div>
            <div class="d-grid gap-2 my-3">
                <a [routerLink]="['peliculas']" class="btn btn-outline-success btn-lg text-uppercase">
                    Portal de Películas
                </a>
            </div>
            <div class="d-grid gap-2 my-3">
                <a [routerLink]="['traductor']" class="btn btn-outline-success btn-lg text-uppercase">
                    Traductor
                </a>
            </div>
            <div class="d-grid gap-2 my-3">
                <a [routerLink]="['estadisticas-covid']" class="btn btn-outline-success btn-lg text-uppercase">
                    Estadísticas COVID
                </a>
            </div>
            <div class="d-grid gap-2 my-3">
                <a [routerLink]="['cotizacion-divisas']" class="btn btn-outline-success btn-lg text-uppercase">
                    Cotización de Divisas
                </a>
            </div>
        </section>
    </div>
</div>